@tailwind base;
@tailwind components;
@tailwind utilities;

.marker{
    background-image: url("../public/image/marker.png");
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}